*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
header
{
   background: url(../images/banner1.jpg) no-repeat center center / cover;
   width: 100%;
	display: block;
	position: relative;
	z-index: 1;
	margin-bottom: 1vh;
}

.intro
{
	display: flex;
	padding: 1% 2%;
}
nav ul{
	list-style: none;
	display: flex;
	align-items: center;
}
nav ul li{
    padding: 10px;
}
nav ul li a{
   text-decoration: none;
   color: black;
}
nav ul li a:hover
{
	color: white;
}
.logo
{
	flex: 1;
	cursor: pointer;
}
.info
{
	padding: 3% 20%;
}
.info h1
{
	font-size: 55px;
}
span
{
	color: #fff;
	font-size: 75px;
}
.info p{
	max-width: 50%;
	letter-spacing: .5px;
	line-height: 35px;
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	padding-top: 2%;
}
.btn
{
	padding: 3% 20%;
	padding-bottom: 1%;
}
.btn button
{
	padding: 20px;
	width: 200px;
	margin-right: 20px;
	background-color: #000;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}
.btn button:hover
{
	background-color: #fff;
	color: #000;
	border: none;
	outline: none;
	transition: 0.4s;
}
.icn
{
	padding-left: 8%;
	padding-bottom: 7%;

}
.icn i{
	width: 55px;
    height: 55px;
    border: #fff solid 2px;
    opacity: 1;
    font-size: 25px;
    color: #fff;
    border-radius: 40px;
    text-align: center;
    padding-top: 12px;
    margin-left: 22px;
}
.icn i:hover
{
	color: #fff;
	background-color: #000;
}
.two
{
	display: flex;
	justify-content: space-evenly;
	padding: 2% 12%;
	margin: 3% 0;
	background: url(../img/bg_about.png);
}
.abt img{
	width: 450px;
	height: 450px;
	border-radius: 50%;
	margin: 5%;
	margin-top: 8%;
	margin-left: 30%;
	padding: 1px;
	border: 35px solid #faf798;
}
.two div{
	padding-right: 6% ;
}
.hed{
	margin-top: 5%;
	text-align: right;
}
.hed h2{
	font-size: 60px;
	font-weight: bold;
	padding-left: 43%;
	padding-bottom: 3%;
}
.hed p{
	line-height: 1.5;
	margin-left: 29%;
	font-size: 20px;
	text-align: right;
	width: 70%;
}
.bot {
	padding: 20px;
	width: 200px;
	margin-right: 20px;
	background-color: #000;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	margin-left: 75%;
	margin-top: 3%;
	cursor: pointer;
}
.bot:hover
{
	background-color: #f2c707;
	color: #fff;
	border: none;
	transition: 0.4s;
}
.cnt{
	background-color: black;
	color: #fff;
	padding-bottom: 2%;
}
.card{
	width: 350px;
	height: 400px;
	background-color: #faba0a;
}
.cnt h1{
	/*text-align: center;*/
	padding:3% 0 1% 0;
	font-weight: bold;
	font-size: 60px;
}
.cnt p,h1{
	margin:0 20%;
}
.cnt p{
	line-height: 1.5;
}
.cards {
	display: flex;
	justify-content: space-evenly;
	padding-top: 3%;
	padding-bottom: 2%;

}
.card img{
	width: 100%;
	padding: 3%;
	padding-left: 5%;
}
.cards i{
	padding: 1px;
	border: 3px solid #fff;
	background-color: #fff;
	color: #000;
	height: 40px;
	width: 50px;
	margin: 9% 0;
	cursor: pointer;
}
.cards i:hover{
	color: black;
	background-color: #f2c707;
	transition: 0.2s;
	border: none;
}
.cardd{
	text-align: center;
	transform: translateY(-25px);
}
.ca{
	text-align: center;
	padding-top: 8%;
}
.boc{
	padding: 20px;
	width: 200px;
	background-color: #fff;
	color: #000;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	margin-left: 16%;
	margin-top: 10px;
	cursor: pointer;
}
.boc:hover
{
	background-color: #f2c707;
	color: #fff;
	border: none;
	transition: 0.4s;
}
.sec{
	width: 60%;
	height: 50%;
	background-color: #faba0a;
	margin: 5% 20%;
}
form{
		display: flex;
		flex-direction: column;
}
input{
	padding: 20px;
	width: 80%;
	margin: 1% 9%;
	border: none;
}
.sec h1{
	padding:3% 0 1% 0;
	font-weight: bold;
	font-size: 60px;
	color: white;
	text-align: center;
}
.bo{
	padding: 15px;
	width: 200px;
	background-color: #000;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	margin: 4% 40%;
	cursor: pointer;
}
.bo:hover
{
	background-color: #fff;
	color: #000;
	border: none;
	transition: 0.4s;
}
.foot{
	padding: 3% 8% 2% 8%;
	background-color: #212120;
}
.foot h1{
	color: #fff;
}
.inp{
	width: 41%;
	margin-left: 20%;
}
.iconn{
	display: flex;
	justify-content: space-evenly;
	color: #fff;
	font-size: 20px;
}
.iconn li{
	list-style: none;
}
.iconsss{
	text-align: center;
	padding: 2% 1%;
}
.iconsss i{
	padding: 0 10px;
	color: #fff;
	/*background-color: #000;*/
}
.foot p{
	color: #fff;
	text-align: center;
	padding: 20px 0 0 0;
}
.foot i{
	padding-right: 10px;
}
.spl{
	margin-left: 61%;
	transform: translateY(-71px);
	padding: 17px;
	width: 200px;
	background-color: #f2c707;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
}
